<% title "Projects" %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <h1 class="text-4xl font-bold text-gray-900">Projects</h1>
</div>
<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 my-4">
  <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <% @projects.each do |project| %>
    <li class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200">
      <%= link_to project_path(project.slug) do %>
        <div class="flex-1 flex flex-col p-8">
          <%= image_tag project.image_avatar_url, class: 'w-32 h-32 flex-shrink-0 mx-auto rounded-full' %>
          <h3 class="mt-6 text-gray-900 text-xl font-medium"><%= project.name %></h3>
        </div>
      <% end %>
      <div>
        <div class="-mt-px flex divide-x divide-gray-200">
          <div class="w-0 flex-1 flex">
          <% if @current_wallet and @current_wallet.follows.where(project: project).present? %>
            <%= link_to unfollow_project_path(project.slug), class: 'relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500' do %>
              <i class="fa-duotone fa-circle-heart w-5 h-5 text-red-500"></i>
              <span class="ml-2 text-red-500">Following</span>
            <% end %>
          <% else %>
            <%= link_to follow_project_path(project.slug), class: 'relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500' do %>
              <i class="fa-duotone fa-circle-heart w-5 h-5 text-gray-400"></i>
              <span class="ml-2">Follow</span>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>