<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Packrat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/cb89b4e26e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
      <div data-controller="menu">
        <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
        <div data-menu-target="toggleable" class="fixed inset-0 flex z-40 hidden" role="dialog" aria-modal="true">
          <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true"></div>
          <div class="relative flex-1 flex flex-col max-w-xs w-full bg-blue-700">
            <div class="absolute top-0 right-0 -mr-12 pt-2">
              <button data-action="click->menu#toggle" type="button" class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                <span class="sr-only">Close sidebar</span>
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>

            <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
              <div class="flex-shrink-0 flex items-center px-4">
                <p class="text-4xl text-center text-white align-middle">
                <a href="/">
                  <i class="fa-duotone fa-squirrel"></i>
                  <span class="text-3xl font-bold align-top logo">packrat</span>
                </a>
                </p>
              </div>
              <nav class="mt-5 px-2 space-y-1">
              <!-- Active: bg-blue-800 text-white group flex items-center px-2 py-2 text-base font-medium rounded-md -->
                <%= link_to(projects_path, class: 'text-white hover:bg-blue-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-base font-medium rounded-md') do %>
                  <i class="fa-duotone fa-album-collection mr-4 flex-shrink-0 h-6 w-6 text-blue-300"></i>
                  Projects
                <% end %>

                <%= link_to(updates_path, class: 'text-white hover:bg-blue-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-base font-medium rounded-md') do %>
                  <i class="fa-duotone fa-bullhorn mr-4 flex-shrink-0 h-6 w-6 text-blue-300"></i>
                  Updates
                <% end %>

                <%= link_to(new_update_path, class: 'text-white hover:bg-blue-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-base font-medium rounded-md') do %>
                  <i class="fa-duotone fa-circle-plus mr-4 flex-shrink-0 h-6 w-6 text-blue-300"></i>
                  Submit Update
                <% end %>
              </nav>
            </div>
            <div class="flex-shrink-0 flex border-t border-blue-800 p-4">
              <a href="#" class="flex-shrink-0 group block">
                <div class="flex items-center">
                  <div>
                    <img class="inline-block h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </div>
                  <div class="ml-3">
                    <p class="text-base font-medium text-white">
                      Tom Cook
                    </p>
                    <p class="text-sm font-medium text-blue-200 group-hover:text-white">
                      View profile
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="flex-shrink-0 w-14" aria-hidden="true">
            <!-- Force sidebar to shrink to fit close icon -->
          </div>
        </div>

        <!-- Static sidebar for desktop -->
        <div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
          <!-- Sidebar component, swap this element with another sidebar if you like -->
          <div class="flex-1 flex flex-col min-h-0 bg-blue-700">
            <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
              <div class="flex items-center flex-shrink-0 px-4">
                <p class="text-4xl text-center text-white align-middle">
                <a href="/">
                  <i class="fa-duotone fa-squirrel"></i>
                  <span class="text-3xl font-bold align-top logo">packrat</span>
                </a>
                </p>
              </div>
              <nav class="mt-5 flex-1 px-2 space-y-1">
                <!-- Current: "bg-blue-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md" -->
                <%= link_to(projects_path, class: 'text-white hover:bg-blue-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md') do %>
                  <i class="fa-duotone fa-album-collection mr-4 flex-shrink-0 h-6 w-6 text-blue-300"></i>
                  Projects
                <% end %>

                <%= link_to(updates_path, class: 'text-white hover:bg-blue-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md') do %>
                  <i class="fa-duotone fa-bullhorn mr-4 flex-shrink-0 h-6 w-6 text-blue-300"></i>
                  Updates
                <% end %>

                <%= link_to(new_update_path, class: 'text-white hover:bg-blue-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md') do %>
                  <i class="fa-duotone fa-circle-plus mr-4 flex-shrink-0 h-6 w-6 text-blue-300"></i>
                  Submit Update
                <% end %>
              </nav>
            </div>
            <div class="flex-shrink-0 flex border-t border-blue-800 p-4">
              <a href="#" class="flex-shrink-0 w-full group block">
                <div class="flex items-center">
                  <div>
                    <img class="inline-block h-9 w-9 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </div>
                  <div class="ml-3">
                    <p class="text-sm font-medium text-white">
                      Tom Cook
                    </p>
                    <p class="text-xs font-medium text-blue-200 group-hover:text-white">
                      View profile
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="md:pl-64 flex flex-col flex-1">
          <div class="sticky top-0 z-10 md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3 bg-gray-100">
            <button data-action="click->menu#toggle" type="button" class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500">
              <span class="sr-only">Open sidebar</span>
              <!-- Heroicon name: outline/menu -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
          <main class="flex-1">
            <div class="py-6">
              <%= yield %>
            </div>
          </main>
        </div>
      </div>
  </body>
</html>
